html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: var(--cursor-arrow);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background: linear-gradient(to bottom, #5a63a6, #8a73c2, #cf7fa0);
  min-width: 320px;
  min-height: 100vh;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* Global font settings */
p,
span,
div,
label,
input,
textarea {
  font-family: var(--main-font);
}

/* Drag and drop areas */
.drop-zone {
  cursor: copy;
}

a,
a:link,
a:visited,
.draggable,
.dragging,
.moveable,
.draggable-item,
.windows-icon,
button {
  cursor: var(--cursor-link);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}