html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: var(--cursor-arrow);
}

body {
  background: linear-gradient(
  to bottom,
  #405797, /* Top */
  #926FBE, /* Middle */
  #E79AF2  /* Bottom */
);
  min-width: 320px;
  min-height: 100vh;
}

/* Global font settings */
p,
span,
div,
label,
input,
textarea {
  font-family: var(--main-font);
}

/* Drag and drop areas */
.drop-zone {
  cursor: copy;
}

a, a:link, a:visited, .draggable, .dragging, .moveable, .draggable-item, button {
  cursor: var(--cursor-link);
}